{{ if isset $.Site.Data.comments .Section }}
  {{ $comments := index $.Site.Data.comments (.Section) (.File.ContentBaseName) }}

  {{ if $comments }}
    <h3>Comments ({{ len $comments  }})</h3>
  {{ end }}

  {{ $hasComments := 0 }}
  {{ range $comments }}
    {{ $hasComments = add $hasComments 1 }}
    {{ if not .reply_to }}
      {{ $parentId := ._id }}
      {{ $parentName := .name }}
      {{ $hasReplies := 0 }}
      <article>
        <header class="comment-header">
          <figure class="frame comment-avatar">
            <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=70">
          </figure>
          <p class="comment-info"><strong>{{ .name }}</strong><br><small>{{ dateFormat "Monday, Jan 2, 2006" .date }}</small></p>
        </header>

        {{ range $comments }}
          {{ if eq .reply_to $parentId }}
            {{ $hasReplies = add $hasReplies 1 }}
          {{ end }}
        {{ end }}

        <div id="{{ ._id }}" class="comment-thread">
          <blockquote class="comment">
            {{ .body | markdownify }}
          </blockquote>

          {{ if eq $hasReplies 0 }}
            <div class="comment-reply-button">
              <input id="{{ ._id }}" type="button" class="right" value="Reply to {{ .name }}" onclick="replyTo('{{ ._id }}', '{{ .name }}')" />
            </div>
          {{ end }}

          <div style="clear: both;"></div>

          {{ range $comments }}
            {{ if eq .reply_to $parentId }}
                <article class="comment-reply">
                  <header class="comment-header">
                    <figure class="frame comment-avatar">
                      <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=70">
                    </figure>
                    <p class="comment-info"><strong>{{ .name }}</strong><br><i><small>In reply to {{ $parentName }}</i><br>{{ dateFormat "Monday, Jan 2, 2006" .date }}</small></p>
                  </header>
                  <div class="comment">
                    {{ .body | markdownify }}
                  </div>
                </article>
            {{ end }}
          {{ end }}

          {{ if gt $hasReplies 0 }}
            <div class="comment-reply-button-reply">
              <input type="button" class="right" value="Reply to Thread" onclick="replyTo('{{ ._id }}', '{{ .name }}')" />
            </div>
            <div style="clear: both;"></div>
          {{ end }}
        </div>
      </article>

    {{ end }}
  {{ end }}
{{ end }}